
.head{
    color: #60f;
}

.aboutBox{
    border-style: dotted;
    border-width: 3px;
    border-color: #6c7dcb;
    border-radius: 5px;
    background-color:#FAE5AF;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    font-size: 15px;
}

.indent{
    text-indent: 5%;
}

p::first-letter{
    font-size: 150%;
    color: #6c7dcb;
}

p{
    border:  none;
}

.center{
    text-align: center;
}

/*for about page*/
.wrapper_about{
    display: grid;
    grid-template-areas: 
    "header header"
    "picture info"
    "resume video";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.header_about{
    grid-area: header;
    text-align: center;

}

.picture_about{
    grid-area: picture;
    border: dotted, #6c7dcb;
}

.info_about{
    grid-area: info;

}

.resume_about{
    grid-area: resume;
    text-align: center;
;
}

.video_about{
    grid-area: video;

}

